<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HMS" parallel="tests">

	<test name="ERegistration">

		<parameter name="browser" value="chrome"></parameter>
		<parameter name="application" value="amazon"></parameter>

		<classes>

			<class name="testNG.TestNGConcepts" />

			

		</classes>

	</test> <!-- ERegistration -->
	
	
	<test name="PRegistration">

		<parameter name="browser" value="firefox"></parameter>
		<parameter name="application" value="amazon"></parameter>

		<classes>


			<class name="testNGAnnotations.GroupsInNG" />

		</classes>

	</test> <!-- ERegistration -->
</suite> <!-- HMS -->
